ul {
    list-style-type: none;
    font-size: 18px;
    float: right;
    transform: rotate(180deg); /* part1of2 of reversing order */
}

ul > li {
    transform: rotate(-180deg); /* part2of2 of reversing order */
}


li {
    float: right;
}

li a {
    color: black;
    padding: 20px 20px;
}

#apply_now {
    background-color: red;
}


/* setting body1 as background so consultation button can be overlayed */
#body1_container {
    position: relative;
}

#body1_container > img {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}

img[alt*="consultation"] {
    width: 400px;
    position: absolute;
    top: 504px;
    right: 545px;
}

img[alt="graduates"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* making 3 columns */
.column {
    width: 33.33%;
}
div#results.column {
    color: blue;
    font-size: x-large;
    font-weight: 600;
}

/* two columns */
/* margin: auto to center */
/* :hover effect breaks for some reason*/
.biColumn_descr#left {
    margin-left: auto;
    margin-right: 0;
    margin-top: 100px;
    width: 500px;
    display: block;
    background-color: #F7F7F7;
    white-space: break-spaces;
}
/*:hover effect breaks for some reason*/
.biColumn_descr#right{
    margin-right: auto;
    margin-left: 0;
    margin-top: 100px;
    width: 500px;
    display: block;
    background-color: #F7F7F7;
    white-space: break-spaces;
}
#title1 {
    font-weight: 600;
}

/* to center class="center" */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1, p1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    white-space: break-spaces;
}

text2 {
    white-space: break-spaces;
}


text_w, #text_w {
    color: white;
    font-size: 14px;
    white-space: break-spaces;
    text-align: left;
}
#title_w{
    color: white;
    font-size: 20px;
    white-space: break-spaces;
    text-align: left;
}
#header_w{
    color: white;
    font-size: 40px;
    white-space: break-spaces;
}

#small_margin {
    margin-top: 25px;
    margin-bottom: 25px;
}

#padding2 {
    margin-top: 50px;
    margin-bottom: 100px;
}

footer {
    display: block;
    width: 100%;
    height: auto;
    background: #36485E;
    z-index: 0;
    position: absolute;
}


footer > img {
    width: 253px;
    height: 72px;
    position: absolute;
}
/* float: left; */